.container {
    background-color: var(--primary);
    width: 100%;
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    padding: 100px 0 0 0;

    .content {

        h1 {
            padding: 20px 100px 20px 100px;
            text-transform: uppercase;
            color: var(--tertiary);

            span {
                color: var(--secondary);
                font-weight: 300;
                font-size: 22px;
            }
        }

        .about {
            padding: 16px 100px 0 100px;
            display: flex;
            justify-content: space-between;
            gap: 120px;

            .text {
                color: var(--tertiary);
            }

            img {
                height: 220px;
            }
        }
    }
}