.container {
    width: 100vw;
    background-color: rgb(53, 54, 55);
    display: grid;
    grid-template-columns: .1fr 1fr .14fr;
    grid-template-areas:
        'NAVBAR MAIN LIGHT'
}

.main {
    grid-area: MAIN;
}

.light {
    grid-area: LIGHT;
}

.nav {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    grid-area: NAVBAR;
}

.nav>div {
    display: flex;
    flex-direction: column;
}

.first_div {
    margin-top: 86px;
    gap: 60px;
}

.last_div {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_item {
    transform: rotate(-90deg);
}

.main_dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main_dev>div>h1 {
    font-size: 100px;
}

.main_dev>div>h4 {
    font-size: 24px;
}

.scroll {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.light>button {
    margin-top: 70px;
}