.container {
    background-color: rgb(170, 219, 255);
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        'NAVBAR MAIN LIGHT'
}

.main {
    grid-area: MAIN;
    border: 1px solid red;
}

.light {
    grid-area: LIGHT;
    border: 1px solid red;
}

.nav {
    height: 100vh;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    grid-area: NAVBAR;
    border: 1px solid red;
}

.nav>div {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.first_div {
    margin-top: 80px;
    gap: 60px;
}

.last_div {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_item {
    transform: rotate(-90deg);
}

.main_dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 80vh;
}

.scroll {
    background-color: red;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.light>button {
    margin-top: 80px;
}