.container {
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    grid-template-areas:
        'NAVBAR MAIN LIGHT'
}

.main {
    grid-area: MAIN;
}

.light {
    grid-area: LIGHT;
}

.nav {
    width: 7%;
    position: fixed;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    grid-area: NAVBAR;
}

.nav>div {
    display: flex;
    flex-direction: column;
}

.first_div {
    margin-top: 86px;
    gap: 60px;
}

.last_div {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_item {
    transform: rotate(-90deg);
}

.main_dev {
    display: flex;
    flex-direction: column;
    height: 80vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_dev h6 {
    font-size: 22px;
    color: var(--secondary);
    font-weight: 300;
    font-family: 'Bebas Neue', cursive;
    padding: 0 0 20px 0;
}

.main_dev h2 {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    opacity: .7;
    padding: 0 0 26px 0;
    font-family: 'Bebas Neue', cursive;
    line-height: 120px;
}

.main_dev h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    line-height: 100px;
}

.main_dev p {
    font-weight: 300;
    font-size: 18px;
    padding: 0;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.light {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 56px;
}

.light>span {
    width: 30px;
    height: 2px;
    background-color: var(--tertiary);
}

@media only screen and (max-height: 930px) {
    .scroll {
        display: none;
    }
}