.container {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    grid-template-areas:
        'NAVBAR MAIN LIGHT'
}

.main {
    grid-area: MAIN;
}

.light {
    grid-area: LIGHT;
}

.nav {
    width: 7%;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    grid-area: NAVBAR;
}

.nav>div {
    display: flex;
    flex-direction: column;
}

.first_div {
    margin-top: 86px;
    gap: 60px;
}

.main_dev {
    position: relative;
    margin: 100px 0;
}

.last_div {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_item {
    transform: rotate(-90deg);
    position: relative;
}

.nav_item:nth-child(1):after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 50%;
    right: -4%;
    transition: .3s;
}

.nav_item:nth-child(1):hover:after {
    content: "";
    position: absolute;
    background-color: var(--secondary);
    height: 3px;
    width: 110%;
    bottom: 50%;
    right: -4%;
}

.nav_item:nth-child(2):after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 50%;
    right: 0;
    transition: .3s;
}

.nav_item:hover:after {
    content: "";
    position: absolute;
    background-color: var(--secondary);
    height: 3px;
    width: 100%;
    bottom: 50%;
    right: 6%;
}

.main_dev {
    display: flex;
    flex-direction: column;
    height: 80vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_dev h6 {
    font-size: 22px;
    color: var(--secondary);
    font-weight: 300;
    font-family: 'Bebas Neue', cursive;
    padding: 0 0 20px 0;
}

.main_dev h2 {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    opacity: .7;
    padding: 0 0 26px 0;
    font-family: 'Bebas Neue', cursive;
    line-height: 120px;
}

.main_dev h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    line-height: 100px;
}

.main_dev p {
    font-weight: 300;
    font-size: 18px;
    padding: 0;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.light {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin: 50px 0 0 0;
    position: absolute;
    right: 0;
}

.light>.button>span {
    margin: 10px 0;
    width: 30px;
    height: 2px;
    background-color: var(--tertiary);
    display: none;
}

@media only screen and (max-height: 930px) {
    .scroll {
        display: none;
    }
}

@media only screen and (max-width: 1310px) {
    .main_dev h6 {
        padding: 0 30px 20px 30px;
    }

    .main_dev h2 {
        padding: 0 30px 26px 30px;
    }

    .main_dev h1 {
        padding: 0 30px 0 30px;
    }

    .main_dev p {
        padding: 0 30px 0 30px;
    }
}

@media only screen and (max-width: 825px) {
    .container {
        background-color: var(--primary);
        display: grid;
        grid-template-columns: 1fr 7%;
        grid-template-areas:
            'MAIN LIGHT'
    }

    .nav {
        display: none;
    }

    .main_dev h6 {
        padding: 0 30px 20px 40px;
    }

    .main_dev h2 {
        padding: 0 30px 26px 40px !important;
    }

    .main_dev h1 {
        padding: 0 30px 0 40px;
    }

    .main_dev p {
        padding: 0 30px 0 40px;
    }

    .light>.button>span {
        display: block;
        margin-right: 50px;
    }

    .light>.info {
        position: absolute;
        width: 250px;
        height: 300px;
        background-color: hsla(220, 19%, 15%, 0.985);
        top: 40px;
        right: 0;
        margin: 0 37px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;
    }

    .info>.links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .info>.socials {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 730px) {

    .main_dev h1,
    .main_dev h2 {
        font-size: 86px;
        line-height: 80px;
    }

    .main_dev h2 {
        padding: 12px 30px 26px 40px !important;
    }
}

@media only screen and (max-width: 490px) {

    .main_dev h1,
    .main_dev h2 {
        font-size: 66px;
        line-height: 60px;
    }
}