@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #293241;
  --secondary: #ee6c4d;
  --tertiary: #e0fbfc;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ee6c4d;
  background: #e0fbfc;
}

::selection {
  color: #ee6c4d;
  background: #e0fbfc;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

#bg {
  position: absolute;
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  right: 0;
  top: 100px;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(148, 187, 233, 0) 100%);
  opacity: .08;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    right: 0px;
    top: 0px;
  }

  25% {
    right: 420px;
    top: 60px;
    background-color: #20252f;
  }

  50% {
    right: 550px;
    top: 10px;
    background-color: #ffffff;
  }

  100% {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(148, 187, 233, 0) 100%);
    right: 0px;
    top: 100px;
  }
}

#info {
  display: none;
}

#open:nth-child(1) {
  margin-top: 5px;
  transform: rotate(45deg);
  position: relative;
  top: 6px;
}

#open:nth-child(2) {
  transform: rotate(-45deg);
  position: relative;
  top: -5.3px;
}

body {
  cursor: url('./assets/cursor.svg'), auto;
}

html::-webkit-scrollbar {
  width: .4vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #e0fbfc;
  border-radius: 40px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #ee6c4d;
}

html::-webkit-scrollbar-track {
  background-color: #293241;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #20252f;
}

a {
  text-decoration: none;
  color: #ffffffcc;
  font-weight: 500;
  transition: .4s;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 20px;
}

a:hover {
  color: #ffffff;
}

button {
  cursor: pointer;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0;
  border: 2px solid var(--tertiary);
  background-color: transparent;
  color: var(--tertiary);
  text-transform: uppercase;
  transition: .8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button:hover {
  color: var(--secondary);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  background-color: var(--tertiary);
  transition: .8s;
  border-radius: 0 0 42% 70%;
}

button:hover::before {
  height: 480%;
}

li {
  list-style: none;
}